[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Flask = "*"
Flask-WTF = "*"
Flask-Login = "*"
multi-indexed-collection = "*"
ZEO = "*"


[dev-packages]



[requires]

python_version = "3.6"


[pipenv]

keep_outdated = true
