[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
flask-login = "*"
multi-indexed-collection = "*"
zeo = "*"
pyjwt = "*"
requests = "*"
flask-cors = "*"
pqdict = "*"
pytest-cov = "*"
flask-mail = "*"
ordered-set = "*"
tdigest = "*"
email-validator = "*"
dtrange = "*"
more-itertools = "*"

[dev-packages]
pytest = "*"
pytest-xdist = "*"
pytest-env = "*"
pytest-flask = "*"
pytest-splinter = "*"
selenium = "*"
pytest-localserver = "*"
pytest-bdd = "*"
pytest-random-order = "*"

[requires]
python_version = "3.6"

[pipenv]
keep_outdated = true
