
<html>
    <head>
        <title> Home Page </title>
    </head>
    <body>
        {% if not current_user.is_authenticated %}
            <a href="{{ url_for('pydash_web.login') }}">Login</a>
        {% else %}
            {{ current_user.name }}
            <a href="{{ url_for('pydash_web.logout') }}">Logout</a>
        {% endif %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
