html {
  background-color: #fafafa;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  padding-top: 80px;
  padding-bottom: 30px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.password-safety-warning {
    color: orange;
    font-weight: bold;
    font-size: 10px;
    max-width: 470px;
    margin: 0 auto;
}
