body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.breadcrumbs {
    text-align: left;
    font-size: 1.1em;
    padding: 1em;
    padding-bottom: 0em;
    color: #444;
}

.breadcrumbs a {
    color: #44f;
    text-decoration: none;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.breadcrumbs .breadcrumbs__separator {
    margin: 0 0.5em;
}

.errorMessage {
    color: #f44336;
}

.menubar {
    background-color: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.menubar_inner {
    margin-right: -1px;
}
